body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgb(253, 253, 253), rgb(255, 255, 255));
}

#nav-checkbox, .nav-toggle{
    display: none;
}

.img-logo{
    width: 30%;
    display: flex;
    margin-right: 50px;
    margin-top: -50px;
    
}

header{
    position: fixed;
    top: 0;
    left: 0;
    height: 5.8%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
    background-color: #111111;
    z-index: 2;
 }
 
 
 .logo h2{
    color: #fff;
    text-transform: uppercase;
    font-weight: normal;
}

.img-logo{
    width: 18%;
    display: flex;
    margin-right: 38%;
    margin-top: 0%
}

 
.nav-menu li{
    display: inline-block;
}

.nav-menu li a{
   color: #fff;
   text-decoration: none;
   font-size: 1.5rem;
   padding: 0 15px;
   margin-top: 50px;
   display: inline-flex;
 align-items: center;
 justify-content: center;
 height: 10px;
 width: 20px;
 margin: 0 95px 5px 0;
 text-decoration: none;
 transition: all 0.5s ease;
}
 
.nav-menu li a:hover{
    color: #2e65fa;
   
}

.active{
   background: #111111;
}

.active a:hover{
   color: #fff !important;
}

@media only screen and (max-width: 600px){
   header{
      display: block;
   }

   .logo{
       margin-left: 50px;
       width: 100px;
       cursor: pointer;
       display: flex;
       
   }
    
   .nav-toggle {
       display: block;
       position: absolute;
       cursor: pointer;
       margin: 0 1rem;
       top: 25px;
       right: 0;
   }

   .nav-toggle img{
       width: 25px;
   }
   
   .close,
   input[type='checkbox']{
       display: none;
   }
   
   #nav-checkbox:Checked ~ .nav-menu{
       background: #000000;
       margin-top: 10px;
       padding: 10px 0;
       border-top: 1px solid #fff;
   }
   
   .nav-menu li{
      display: none;
      margin: 10px 0;
   }
   
   #nav-checkbox:checked ~ ul.nav-menu li{
       display: block;
   }

   #nav-checkbox:checked ~ label.nav-toggle .open{
       display: none;
   }
   
   #nav-checkbox:checked ~ label.nav-toggle .close{
       display: block;
   }

   .hero h1{
       font-size: 46px;
   }
   
   .hero h3{
       font-size: 22px;
   }
   
}
